* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

#tetris {
  margin: 0rem auto;
  display: block; }

.score {
  font-size: 2.5rem;
  text-transform: uppercase; }

.container__header {
  background: black; }
  .container__header .heading-primary {
    font-size: 3.5rem;
    color: white; }

.container__game {
  margin: 5rem auto; }

.container__webcam {
  border: grey solid 5px;
  margin: 5rem auto; }

.dropdown * {
  font-size: 2rem; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 10rem;
  display: inline-block;
  letter-spacing: .5rem;
  transition: all 0.2s; }
  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /* margin-bottom: $gutter-vertical; */ }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col-3 {
    float: left;
    width: calc((100% - 6rem)/4); }
  .row .col-6 {
    float: left;
    width: calc((100% - 6rem)/2); }

#webcam {
  height: 168px;
  display: inline-block;
  border: 5px solid #b3b3a7; }

[data-active="up"] .img__container--up img,
[data-active="down"] .img__container--down img,
[data-active="left"] .img__container--left img,
[data-active="right"] .img__container--right img {
  box-shadow: 0 0 4px 4px #ffaa00; }

.vertical-align-center {
  vertical-align: middle; }

.u-center {
  margin: 1rem auto;
  text-align: center; }
